html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

body {
  background: linear-gradient(to left, #556270, #4ECDC4); 
}

.main {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 10px 25px;
  border-radius: 10px;
  align-items: center;
}

#currency_select {
  width: 70%;
}

#first_value {
  margin: 0 25px;
}

#second_value {
  margin: 25px 25px;
}

