html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

body {
  background: linear-gradient(to left, #556270, #4ECDC4); 
}

.main {
  background-color: #fff;
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}